In [35]:
#this is to import dataframe from other notebooks
#before importing we need to have converted .ipynb to .py files using the command - 
#!jupyter nbconvert --to script Buildings_Exploratory.ipynb  
#at the end of each .ipynb file

import Agent_Data_First_Look as agents
import Buildings_Exploratory as build

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [90]:
exits = build.df
agents = agents.df

In [92]:
agents.head()

,sec,agent_id,agent_type,has_luggage,is_disabled,X,Y,Z,velocity,queue_id,lookUp_X,lookUp_Y
0,70201,0,4,0,0,105.955,20.712,7.0,0.586,-1,105.500,22.130
1,70201,8,4,0,0,82.995,14.989,1.0,0.720,-1,83.495,18.265
2,70201,16,1,0,0,49.066,-72.638,1.0,0.737,-1,49.822,-72.954
3,70201,24,1,0,0,111.617,28.309,10.0,2.944,-1,108.060,30.175
4,70201,32,1,0,0,108.920,34.867,4.0,1.386,-1,103.980,32.855

In [93]:
df = exits
#this process is to find out the total centroid of each entrance/exit
df['mean_x'] = df['x'].apply(np.mean)
df['mean_y'] = df['y'].apply(np.mean)
df['mean_z'] = df['z'].apply(np.mean)
df['centroid'] = df[['mean_x','mean_y','mean_z']].apply(tuple,axis=1)
exits = df.drop(['mean_x','mean_y','mean_z'],axis=1)
exits.head()

,name,no_of_triangles,triangles,x,y,z,centroid
0,entry__exit_4_58,6,"[(100.6, -17.01, 6.0), (100.6, -11.75, 6.0), (...","[100.6, 100.6, 92.88, 100.6, 92.88, 92.88]","[-17.01, -11.75, -11.75, -17.01, -11.75, -17.01]","[6.0, 6.0, 6.0, 6.0, 6.0, 6.0]","(96.74, -14.38, 6.0)"
2,entry_exit_7_455,6,"[(120.12, 60.33, 6.0), (122.93, 64.5, 6.0), (1...","[120.12, 122.93, 120.16, 120.12, 123.0, 122.93]","[60.33, 64.5, 64.5, 60.33, 60.28, 64.5]","[6.0, 6.0, 6.0, 6.0, 6.0, 6.0]","(121.543333333, 62.4066666667, 6.0)"
4,entry_exit_stairs_544,6,"[(46.24, 9.3, 6.0), (53.04, 9.3, 6.0), (53.04,...","[46.24, 53.04, 53.04, 46.24, 53.04, 46.08]","[9.3, 9.3, 17.1, 9.3, 17.1, 16.96]","[6.0, 6.0, 6.0, 6.0, 6.0, 6.0]","(49.6133333333, 13.1766666667, 6.0)"
6,entry_exit_591,9,"[(107.77, 10.18, 6.0), (107.42, 16.32, 6.0), (...","[107.77, 107.42, 103.53, 103.54, 107.77, 107.7...","[10.18, 16.32, 16.7, 9.3, 8.9, 10.18, 9.3, 10....","[6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0]","(105.848888889, 11.9733333333, 6.0)"
8,exit_entry_1_1002,6,"[(32.3, -20.64, 6.0), (36.34, -11.79, 6.0), (3...","[32.3, 36.34, 32.3, 32.3, 36.36, 36.34]","[-20.64, -11.79, -11.75, -20.64, -20.75, -11.79]","[6.0, 6.0, 6.0, 6.0, 6.0, 6.0]","(34.3233333333, -16.2266666667, 6.0)"

## ENTRANCES through each agent entered

In [94]:
#Question-1 : Through which entrance did each of the agents enter and when??
#Approach - take the minimum time for each agent and the corresponding X,Y,Z coordinate
#Take the euclidean distance of each agent's starting point with each triangle in the each entrance
#there are about 450 triangles in total - so pretty inefficient - but more accurate - we can cross check with mean method later
#take the closest entrance

#taking only the minimum time, that is the time each agent entered the building
df = agents.sort_values("sec").groupby("agent_id", as_index=False).first() #1063 rows in df 
from scipy.spatial import distance
df_list = []
dist = 100
#calculating euclidean distance
for i in df.iterrows(): #each agent going into the loop
    starting_point = (i[1]['X'],i[1]['Y'],(i[1]['Z']-1)) #there is a -1 on Z value to make it in unison with building Z values
    for j in exits.iterrows(): #each exit going into the loop
        for k in j[1][2]: #each triangle going into the loop
            d = distance.euclidean(k,starting_point) #distance from each triangle to starting point of agent
            if d < dist:
                dist = d
                entrance = j[1]['name']
                triangle = k
                
    data = {'agent_id' : i[1]['agent_id'],
            'entry_time' : i[1]['sec'],
            'agent_type' : i[1]['agent_type'],
            'has_luggage' :  i[1]['has_luggage'],
            'is_disabled' : i[1]['is_disabled'],
            'starting_point' : starting_point,
            'entrance' : entrance,
            'dist' : dist,
            'triangle' : triangle}
    df_list.append(data)

df = pd.DataFrame(df_list)
df.head()

,agent_id,agent_type,dist,entrance,entry_time,has_luggage,is_disabled,starting_point,triangle
0,0.0,4.0,4.629891,entry_exit_591,70201.0,0.0,0.0,"(105.955, 20.712, 6.0)","(107.42, 16.32, 6.0)"
1,8.0,4.0,4.629891,entry_exit_591,70201.0,0.0,0.0,"(82.995, 14.989, 0.0)","(107.42, 16.32, 6.0)"
2,16.0,1.0,4.629891,entry_exit_591,70201.0,0.0,0.0,"(49.066, -72.638, 0.0)","(107.42, 16.32, 6.0)"
3,24.0,1.0,4.629891,entry_exit_591,70201.0,0.0,0.0,"(111.617, 28.309, 9.0)","(107.42, 16.32, 6.0)"
4,32.0,1.0,3.816515,Subway_Entrance_2_12714,70201.0,0.0,0.0,"(108.92, 34.867, 3.0)","(111.65, 32.2, 3.0)"

In [95]:
counts = df.groupby('entrance').size()
counts
#distribution of entrances among agents
#Subway_Entrance_2_12714    and SouthEntrance1_13925    are the MOST popular

entrance
NorthExit_14267             11
SouthEntrance1_13925       476
Subway_Entrance_2_12714    572
entry_exit_591               4
dtype: int64

In [96]:
df.dist.describe()
#distribution of distance

count    1063.000000
mean        0.672186
std         0.364379
min         0.507167
25%         0.507167
50%         0.685377
75%         0.717175
max         4.629891
Name: dist, dtype: float64

In [97]:
#NOW we can try the same by calculating the distance from (mean(x),mean(y) and mean(z)) and check if the results match
#taking only the minimum time, that is the time each agent entered the building
df = agents.sort_values("sec").groupby("agent_id", as_index=False).first() #1063 rows in df 
df.head()

,agent_id,sec,agent_type,has_luggage,is_disabled,X,Y,Z,velocity,queue_id,lookUp_X,lookUp_Y
0,0,70201,4,0,0,105.955,20.712,7.0,0.586,-1,105.500,22.130
1,8,70201,4,0,0,82.995,14.989,1.0,0.720,-1,83.495,18.265
2,16,70201,1,0,0,49.066,-72.638,1.0,0.737,-1,49.822,-72.954
3,24,70201,1,0,0,111.617,28.309,10.0,2.944,-1,108.060,30.175
4,32,70201,1,0,0,108.920,34.867,4.0,1.386,-1,103.980,32.855

## EXITS through each agent left

In [32]:
#Lets do the same for exits now. 
#Approach - very similar to the entrance - instead of taking the min(time), take the max(time) and calculate distance.
#taking only the maximum time, that is the time each agent exited the building
df = agents.sort_values("sec").groupby("agent_id", as_index=False).last() #1063 rows in df 
from scipy.spatial import distance
df_list = []
dist = 100
#calculating euclidean distance
for i in df.iterrows(): #each agent going into the loop
    last_point = (i[1]['X'],i[1]['Y'],(i[1]['Z']-1))
    for j in exits.iterrows(): #each exit going into the loop
        for k in j[1][2]: #each triangle going into the loop
            d = distance.euclidean(k,last_point) #distance from each triangle to last point of agent
            if d < dist: #if the distance is less than the previously recorded distance
                dist = d
                exit = j[1]['name']
                triangle = k
                
    data = {'agent_id' : i[1]['agent_id'],
            'exit_time' : i[1]['sec'],
            'agent_type' : i[1]['agent_type'],
            'has_luggage' :  i[1]['has_luggage'],
            'is_disabled' : i[1]['is_disabled'],
            'last_point' : last_point,
            'exit' : exit,
            'dist' : dist,
            'triangle' : triangle}
    df_list.append(data)

df = pd.DataFrame(df_list)
df.head()

,agent_id,agent_type,dist,exit,exit_time,has_luggage,is_disabled,last_point,triangle
0,0.0,4.0,19.017465,exit_entry_ramp_1004,71399.0,0.0,0.0,"(19.272, -36.099, 6.0)","(30.39, -20.67, 6.0)"
1,8.0,4.0,19.017465,exit_entry_ramp_1004,71399.0,0.0,0.0,"(-18.518, -40.682, 0.0)","(30.39, -20.67, 6.0)"
2,16.0,1.0,19.017465,exit_entry_ramp_1004,71399.0,0.0,0.0,"(-16.697, -64.853, -51.0)","(30.39, -20.67, 6.0)"
3,24.0,1.0,19.017465,exit_entry_ramp_1004,71399.0,0.0,0.0,"(-83.823, -33.547, -51.0)","(30.39, -20.67, 6.0)"
4,32.0,1.0,19.017465,exit_entry_ramp_1004,71399.0,0.0,0.0,"(24.653, -58.66, -51.0)","(30.39, -20.67, 6.0)"

In [27]:
counts = df.groupby('exit').size()
counts
#distribution of entrances among agents

exit
42nd_Street_Entrance_14495     21
NorthExit_14267               916
SouthEntrance2_13909            2
Subway_Entrance_1_10458        21
Subway_Entrance_2_12714        35
exit_entry_1_1002              18
exit_entry_ramp_1004           50
dtype: int64

In [28]:
df.dist.describe()
#distribution of distance

count    1063.000000
mean        1.724749
std         4.085675
min         0.472281
25%         0.472281
50%         0.650730
75%         0.650730
max        19.017465
Name: dist, dtype: float64

In [34]:
df[df.dist>15].shape
#about 50 agents have a min distane of more than 15 units. Why so?

(50, 9)

In [106]:
!jupyter nbconvert --to script Track_Agents.ipynb

[NbConvertApp] Converting notebook Track_Agents.ipynb to script
[NbConvertApp] Writing 2544 bytes to Track_Agents.py